/*  ==========================================================================
    Mixins:Visually Hidden
    ========================================================================== */

@mixin visually-hidden() {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
}

@mixin undo-visually-hidden() {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}