/*  ==========================================================================
    Objects:Media
    ==========================================================================

    Image and text blocks, as devised by @stubbornella
    stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code

    This object is useful to document the usage of the overflow to create a new block formatting context pattern. I don't find myself using this actual object much as in a responsive context i often want a component to transform into a media object, so if i use the this object i end up fighting the styles.

    Dependencies
    ------------
    * group (clearfix) - must be applied to the main element.

    HTML
    ----
    <div class=media group>
        <img src=http://placehold.it/150x150 alt="" class=media__img>
        <p class=media__body>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

*/
.media {
    display: block;
}

.media__img {
    float: left;
    margin-right: em($su--block);
}

/*
    Reversed image location (right instead of left).
*/
.media__img--rev {
    float: right;
    margin-left: em($su--block);
}

.media__img img,
.media__img--rev img {
    display: block;
}

/*
    1. Create a new block formatting context. See - http://www.stubbornella.org/content/2009/07/23/overflow-a-secret-benefit/
*/
.media__body {
    overflow: hidden; /* 1 */
}

.media__body,
.media__body > :last-child {
    margin-bottom: 0;
}