/*
    Huge paddings
*/
.u-p\+\+  { padding: $padding--huge !important; }
.u-pt\+\+ { padding-top: $padding--huge !important; }
.u-pr\+\+ { padding-right: $padding--huge !important; }
.u-pb\+\+ { padding-bottom: $padding--huge !important; }
.u-pl\+\+ { padding-left: $padding--huge !important; }
.u-ph\+\+ { padding-right: $padding--huge !important;
            padding-left: $padding--huge !important; }
.u-pv\+\+ { padding-top: $padding--huge !important;
            padding-bottom: $padding--huge !important; }