/*
    Large paddings
*/
.u-p\+   { padding: $padding--large !important; }
.u-pt\+  { padding-top: $padding--large !important; }
.u-pr\+  { padding-right: $padding--large !important; }
.u-pb\+  { padding-bottom: $padding--large !important; }
.u-pl\+  { padding-left: $padding--large !important; }
.u-ph\+  { padding-right: $padding--large !important;
           padding-left: $padding--large !important; }
.u-pv\+  { padding-top: $padding--large !important;
           padding-bottom: $padding--large !important; }