/*
    Small paddings
*/
.u-p-    { padding: $padding--small !important; }
.u-pt-   { padding-top: $padding--small !important; }
.u-pr-   { padding-right: $padding--small !important; }
.u-pb-   { padding-bottom: $padding--small !important; }
.u-pl-   { padding-left: $padding--small !important; }
.u-ph-   { padding-right: $padding--small !important;
           padding-left: $padding--small !important; }
.u-pv-   { padding-top: $padding--small !important;
           padding-bottom: $padding--small !important; }