/*
    Tiny paddings
*/
.u-p--   { padding: $padding--tiny !important; }
.u-pt--  { padding-top: $padding--tiny !important; }
.u-pr--  { padding-right: $padding--tiny !important; }
.u-pb--  { padding-bottom: $padding--tiny !important; }
.u-pl--  { padding-left: $padding--tiny !important; }
.u-ph--  { padding-right: $padding--tiny !important;
           padding-left: $padding--tiny !important; }
.u-pv--  { padding-top: $padding--tiny !important;
           padding-bottom: $padding--tiny !important; }