/*  ==========================================================================
    Base:Headings
    ========================================================================== */

#{headings()} {
    font: {
        family: $font--one;
    }
}

h1,
.alpha {
    font-size: $fs--alpha;
}

h2,
.beta {
    font-size: $fs--beta;
}

h3,
.gamma {
    font-size: $fs--gamma;
}

h4,
.delta {
    font-size: $fs--delta;
}

h5,
.epsilon {
    font-size: $fs--epsilon;
}

h6,
.zeta {
    font-size: $fs--zeta;
}
