/*  ==========================================================================
    Base:Lists
    ========================================================================== */

/*
    1. Remove vertical spacing from nested lists.
*/
li {
    > ul,
    > ol {
        margin-bottom: 0; /* 1 */
    }
}

/*
    1. Have a numbered `ul` without the semantics implied by using an `ol`.
*/
/*ul*/.numbered-list {
    list-style-type: decimal; /* 1 */
}
