/*  ==========================================================================
    Base:Main
    ========================================================================== */

/*
    1. Prevent iOS text size adjust after orientation change, without disabling
       user zoom. - Normalize:v2.1.0
*/
html {
    -webkit-text-size-adjust: 100%; /* 1 */
    -ms-text-size-adjust: 100%; /* 1 */
    font-size: em($fs--base, $fs--browser-default);
    font-family: $font--one;
}

/*
    1. Remove default margin. - Normalize:v2.1.0
*/
body {
    margin: 0; /* 1 */
}