/*  ==========================================================================
    Base:SVG
    ========================================================================== */

/*
    1. Correct overflow not hidden in IE 9/10/11. - Normalize:v3.0.1
*/
svg:not(:root) {
    overflow: hidden; /* 1 */
}