/*  ==========================================================================
    Settings:Colors
    ========================================================================== */

// typography
$color--body: #333;
$color--link: blue;
$color--link-hover: lighten(blue, 20);
$color--placeholder: #ccc;