/*  ==========================================================================
    Toolbox:Settings:Fonts
    ========================================================================== */

// families
$font--one: Georgia, Times, "Times New Roman", serif;

// sizes
$fs--base: 18px;
$fs--browser-default: 16px;
$fs--alpha: 30px;
$fs--beta: 25px;
$fs--gamma: 22px;
$fs--delta: 20px;
$fs--epsilon: 18px;
$fs--zeta: 16px;