/*
    Toolbox:Settings:Inuit
    ======================
*/

$inuit-namespace: null;
$inuit-base-spacing-unit: 24px;

// margins
$inuit-enable-margins: true;
$inuit-enable-margins--tiny: true;
$inuit-enable-margins--small: true;
$inuit-enable-margins--large: true;
$inuit-enable-margins--none: true;
$inuit-margin--small: 10px;

// paddings
$inuit-enable-paddings--none: true;