/*
    Toolbox:Settings:Z index
    ========================

    Keep track of z-index by assigning your elements z-index to
    one of these defined levels.
*/

$z-level--1: 10;
$z-level--2: 20;
$z-level--3: 30;
$z-level--4: 40;
$z-level--5: 50;