/*
    Top:Margin
    ==========

    Class names taken from:- inuit.css
    https://github.com/inuitcss/trumps.spacing - 0.7.0
*/
$margin: em(45px);
$margin--small: em(10px);
$margin--tiny: em(5px);
$margin--large: em(90px);
$margin--huge: em(140px);

@import "margin/standard";
@import "margin/none";

// Uncomment as needed

// @import "margin/small";
// @import "margin/tiny";
// @import "margin/large";
// @import "margin/huge";

// @import "margin/negative";
// @import "margin/small--negative";
// @import "margin/tiny--negative";
// @import "margin/large--negative";
// @import "margin/huge--negative";