/*
    Top:Spacing:Padding
    ===================

    Class names taken from:- inuit.css
    https://github.com/inuitcss/trumps.spacing - 0.7.0
*/
$padding: em(45px);
$padding--small: em(10px);
$padding--tiny: em(5px);
$padding--large: em(90px);
$padding--huge: em(140px);

@import "padding/standard";
@import "padding/none";

// Uncomment as needed

// @import "padding/small";
// @import "padding/tiny";
// @import "padding/large";
// @import "padding/huge";