/*  ==========================================================================
    Base:Headings
    ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font: {
        family: $font--one;
    }
}

h1 {
    font-size: $fs--alpha;
}

h2 {
    font-size: $fs--beta;
}

h3 {
    font-size: $fs--gamma;
}

h4 {
    font-size: $fs--delta;
}

h5 {
    font-size: $fs--epsilon;
}

h6 {
    font-size: $fs--zeta;
}
