/*
    Base:Images
    ===========
*/

/*
    1. So that `alt` text is visually offset if images don’t load.
    2. Fluid images.
    3. Remove the border on images inside links in IE 10. - Normalize:v8.0.0
*/
img {
    font-style: italic; /* 1 */
    max-width: 100%; /* 2 */
    border-style: none; /* 3 */
}

/*
    1. Images in `figure` elements.
*/
figure > img {
    display: block; /* 1 */
}
