/*
    Base:Links
    ==========
*/

/*
    1. Remove the gray background on active links in IE 10. - Normalize:v8.0.0
*/
a {
    color: $color--link;
    background-color: transparent; /* 1 */

    &:hover,
    &:focus {
        color: $color--link-hover;
    }
}
