/*  ==========================================================================
    Base:Tables
    ========================================================================== */

/*
    1. Remove most spacing between table cells. - Normalize:v3.0.3
*/
table {
    border-collapse: collapse; /* 1 */
    border-spacing: 0; /* 1 */
}