/*  ==========================================================================
    Settings:Units
    ========================================================================== */

/*
    Widths
    ------
*/
$width--site-min: 300px;
$width--site-max: 1280px;

/*
    Spacing units
    -------------
*/
$su--block: 30px;
$su--block--half: ($su--block / 2);