label {
    display: inline-block;
    margin-bottom: .5em;
}

/*
    Normalize form controls
    -----------------------
*/

/*
    Position radios and checkboxes better
*/
input[type="radio"],
input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9; // IE8-9
    line-height: normal;
}

/*
    Set the height of file controls to match text inputs
*/
input[type="file"] {
    display: block;
}

/*
    Make range inputs behave like textual form controls
*/
input[type="range"] {
    display: block;
    width: 100%;
}

/*
    Make multiple select elements height not fixed
*/
select[multiple],
select[size] {
  height: auto;
}

/*
    Focus for file, radio, and checkbox
*/
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    @extend %tab-focus;
}

/*
    Search inputs in iOS
    --------------------
    This overrides the extra rounded corners on search inputs in iOS so that our
    `.form-control` class can properly style them. Note that this cannot simply
    be added to `.form-control` as it's not specific enough. For details, see
    https://github.com/twbs/bootstrap/issues/11586.
*/
input[type="search"] {
    -webkit-appearance: none;
}