/*  ==========================================================================
    Top:Images
    ==========================================================================

    This file is not included by default.
*/

/*
    Image replacement
*/
.u-ir {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
}