/*  ==========================================================================
    Top:Helpers:Spacing
    ========================================================================== */

$su-block-i: em($su--block) !important;
$su-block--half-i: em($su--block--half) !important;

/*
    add/remove margins
    ------------------
*/
.u-push               { margin: $su-block-i; }
.u-push--top          { margin-top: $su-block-i; }
.u-push--right        { margin-right: $su-block-i; }
.u-push--bottom       { margin-bottom: $su-block-i; }
.u-push--left         { margin-left: $su-block-i; }
.u-push--ends         { margin-top: $su-block-i; margin-bottom: $su-block-i; }
.u-push--sides        { margin-right: $su-block-i; margin-left: $su-block-i; }

.u-push-half          { margin: $su-block--half-i; }
.u-push-half--top     { margin-top: $su-block--half-i; }
.u-push-half--right   { margin-right: $su-block--half-i; }
.u-push-half--bottom  { margin-bottom: $su-block--half-i; }
.u-push-half--left    { margin-left: $su-block--half-i; }
.u-push-half--ends    { margin-top: $su-block--half-i; margin-bottom:$su-block--half-i; }
.u-push-half--sides   { margin-right: $su-block--half-i; margin-left:  $su-block--half-i; }

.u-flush              { margin: 0 !important; }
.u-flush--top         { margin-top: 0 !important; }
.u-flush--right       { margin-right: 0 !important; }
.u-flush--bottom      { margin-bottom: 0 !important; }
.u-flush--left        { margin-left: 0 !important; }
.u-flush--ends        { margin-top: 0 !important; margin-bottom: 0 !important; }
.u-flush--sides       { margin-right: 0 !important; margin-left: 0 !important; }


/*
    remove paddings
    ---------------
    I don't find myself wanting to add padding via a helper class so i only have classes for removing
*/
.u-hard               { padding: 0 !important; }
.u-hard--top          { padding-top: 0 !important; }
.u-hard--right        { padding-right: 0 !important; }
.u-hard--bottom       { padding-bottom: 0 !important; }
.u-hard--left         { padding-left: 0 !important; }
.u-hard--ends         { padding-top: 0 !important; padding-bottom: 0 !important; }
.u-hard--sides        { padding-right: 0 !important; padding-left: 0 !important; }