/*  ==========================================================================
    Vars
    ========================================================================== */


/*
    colors
    ------
*/

// typography
$color--body: #333;
$color--link: blue;
$color--link-hover: lighten(blue, 20);
$color--placeholder: #ccc;

/*
    Fonts
    -----
*/

// families
$font--one: Georgia, Times, "Times New Roman", serif;

// sizes
$fs--base: 18px;
$fs--browser-default: 16px;
$fs--alpha: 30px;
$fs--beta: 25px;
$fs--gamma: 22px;
$fs--delta: 20px;
$fs--epsilon: 18px;
$fs--zeta: 16px;

/*
    Z-indexes
    ---------
*/


/*
    Widths
    ------
*/
$width--site-min: 300px;
$width--site-max: 1280px;


/*
    Spacing
    -------
*/
$base-spacing-unit: 30px;
$base-spacing-unit--half: ($base-spacing-unit / 2);