/*
    Vars
    ====
*/


/*
    colors
    ------
*/
$color-blue: #064860;
$color-blue-highlight: #66afe9;
$color-grey: #58595b;
$color-grey: #eee;

/*
    Applied colors
    --------------
*/

// typography
$color-body-text: $color-grey;
$color-link: $color-blue;
$color-link-hover: lighten($color-link, 20);

// forms
$color-input-focus: $color-blue-highlight;
$color-input-bg-disabled: $color-grey;
$color-input-placeholder: $color-grey;

/*
    Fonts
    -----
*/
$font: Georgia, Times, "Times New Roman", serif;
$font-size-base: 16px;
$font-size-browser-default: 16px;

$font-size-h1: 20px;
$font-size-h2: 20px;
$font-size-h3: 20px;
$font-size-h4: 20px;
$font-size-h5: 20px;
$font-size-h6: 20px;


/*
    Z-indexes
    ---------
*/


/*
    Widths
    ------
*/
$width-site-min: 320px;
$width-site-max: 1090px;


$base-spacing-unit: 1em;