/*
    Form control feedback states

    Apply contextual and semantic states to individual form controls.
*/
.has-feedback {
  position: relative;
}

/*
    Feedback states
*/
.has-success {

}
.has-warning {

}
.has-error {

}

/*
    Help text
    ---------
    Apply to any element you wish to create light text for placement immediately
    below a form control. Use for general help, formatting, or instructional text.
*/
.help-block {
    display: block; // account for any element using help-block
    margin-bottom: .5em;
    color: lighten($color-body-text, 25%); // lighten the text some for contrast
}